<a href="https://colab.research.google.com/github/meetAmarAtGithub/7_Reinforcement_Learning/blob/main/Day2_2_Ad_optimization_as_MABP_AI02_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
print(random.randrange(10))

0

# AD Optimization

Suppose an advertising company is running 10 different ads targeted towards a similar set of population on a webpage. The results for which ads were clicked by a user are provided in the csv file. Each column index represents a different ad. We have a 1 if the ad was clicked by a user, and 0 if it was not. A sample from the original dataset is shown below:

In [ ]:
#Dataset sample - to be run after the data is read
dataset.head(10)

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0
5     1     1     0     0     0     0     0     0     0      0
6     0     0     0     1     0     0     0     0     0      0
7     1     1     0     0     1     0     0     0     0      0
8     0     0     0     0     0     0     0     0     0      0
9     0     0     1     0     0     0     0     0     0      0

In [ ]:
# Random Selection

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
dataset = pd.read_csv('D:\\RACE\\RL\\AI-02-03\\Data\\Ads_Optimisation.csv')

# Implementing Random Selection
import random
N = 10000
d = 10
ads_selected = []
total_reward = 0
for n in range(0, N):
    ad = random.randrange(d)
    ads_selected.append(ad)
    reward = dataset.values[n, ad]
    total_reward = total_reward + reward

In [ ]:
print('Total Reward: ', total_reward)

Total Reward:  1207

In [ ]:
max_reward_ad = pd.Series(ads_selected).head(1500).value_counts(normalize=True).max()
max_reward_ad

0.118

In [ ]:
print('Best Ad will select: ', total_reward*max_reward_ad)

Best Ad will select:  142.426

Total reward for the random selection algorithm comes out to be 2125. As this algorithm is not learning anything, it will not smartly select any ad which is giving the maximum return. And hence even if we look at the last 1000 trials, it is not able to find the optimal ad.

In [ ]:
pd.Series(ads_selected).head(1500).value_counts(normalize=True).sort_values(ascending=True)

4    0.090667
1    0.093333
9    0.093333
5    0.096667
7    0.099333
0    0.102000
8    0.102000
2    0.103333
3    0.106000
6    0.113333
dtype: float64

In [ ]:
# Implementing UCB
import math
N = 10000
d = 10
ads_selected = []
numbers_of_selections = [0] * d
sums_of_reward = [0] * d
total_reward = 0

for n in range(0, N):
    ad = 0
    max_upper_bound = 0
    for i in range(0, d):
        if (numbers_of_selections[i] > 0):
            average_reward = sums_of_reward[i] / numbers_of_selections[i]
            delta_i = math.sqrt(2 * math.log(n+1) / numbers_of_selections[i])
            upper_bound = average_reward + delta_i
        else:
            upper_bound = 1e400
        if upper_bound > max_upper_bound:
            max_upper_bound = upper_bound
            ad = i
    ads_selected.append(ad)
    numbers_of_selections[ad] += 1
    reward = dataset.values[n, ad]
    sums_of_reward[ad] += reward
    total_reward += reward

In [ ]:
pd.Series(ads_selected).head(1500).value_counts(normalize=True).sort_values(ascending=True)

5    0.048000
9    0.053333
2    0.066000
6    0.066000
1    0.073333
8    0.075333
3    0.091333
0    0.106000
7    0.170667
4    0.250000
dtype: float64

In [ ]:
max_reward_ad = pd.Series(ads_selected).head(1500).value_counts(normalize=True).max()
max_reward_ad

0.25

In [ ]:
print('Best Ad will select: ', total_reward*max_reward_ad)

Best Ad will select:  531.25

In [ ]:
##Inference
#Which ad should displayed compared to the random and why

In [ ]:
# Implementing epsilon greedy
import random
N = 10000
d = 10
ads_selected = []
total_reward = 0
for n in range(0, N):
    p = np.random.rand()
    ad = random.randrange(d)
    ads_selected.append(ad)
    reward = dataset.values[n, ad]
    total_reward = total_reward + reward

In [ ]:
eps = 0.1
k_reward = np.zeros(k)
p = np.random.rand()
if eps == 0 and n == 0:
    a = np.random.choice(k)
elif p < eps:
    # Randomly select an action
    a = np.random.choice(self.k)
else:
    # Take greedy action
    a = np.argmax(k_reward)
    reward = np.random.normal(self.mu[a], 1)

NameError: name 'k' is not defined